﻿
@model IEnumerable<CustomerViewModel>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.name)
            </td>
           <td>@item.BookCount</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Customer.CustomerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.Customer.CustomerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Customer.CustomerId })
            </td>
        </tr>
}
    </tbody>
</table>
