﻿
@model Author

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <p>@Model.Name</p>
        </div>
        <div class="panel-body">
            <h2>Book count: @Model.books?.Count</h2>
            <div class="btn-group">
                @if (Model.books?.Count == 0)
                {
                    <a class="btn btn-default" asp-area="">View book list</a>
                }
                else
                {
                    <a class="btn btn-info" asp-area="" asp-controller="Book" asp-action="List" asp-route-authorId="@Model.AuthorId">View book list</a>
                }
                <a asp-action="Edit" asp-route-id="@Model.AuthorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.AuthorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.AuthorId">Delete</a>
            </div>
        </div>
    </div>
</div>