﻿@model IEnumerable<MyLibraryManagment.dal.models.Author>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach(var item in Model)
    {
        @Html.Partial("AuthorPartial", item)
    }
</div>
